{% extends "newsletter/common.html" %}

{% load i18n %}

{% block title %}{% trans "Newsletter unsubscribe" %}{% endblock title %}

{% block body %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

            <form enctype="multipart/form-data" method="post" action="{% url "newsletter_unsubscribe_confirm" newsletter.slug %}" class="login100-form validate-form flex-sb flex-w">
                {%csrf_token%}

                <!--Titulo-->
                <span class="login100-form-title p-b-32">
                    {% trans "Newsletter unsubscribe" %} 
                </span>

               
               
                 <span class="txt1 p-b-11">
                    <p>Welcome, {{ user }}!</p>

                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    {% trans "Do you want to unsubscribe from this newsletter?" %}
                 
                    <input id="id_submit" class="login100-form-btn mt-5" name="submit"  value="{% trans "Unsubscribe" %}" type="submit" />
                    {% endif %}
               
                </span>
                  
                    

 
                        
               
       
            </form>


        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

{% endblock body %}
