{% load i18n easy_thumbnails_tags cms_tags %}

<ul class="post-detail">
    {% if post.author %}
    <li class="d-flex align-items-center small"><i class="icofont-user"></i> 
        {% trans "by" %} <a href="{% url 'djangocms_blog:posts-author' post.author.get_username %}">: {% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}{{ post.author }}{% endif %}</a>
    </li>
    {% endif %}
    {% if post.date_published %}
    <li class="d-flex align-items-center small"><i class="icofont-wall-clock"></i>
        {{ post.date_published|date:"DATE_FORMAT" }}
    </li>
    {% endif %}
    {% if post.date_featured %}
    <li class="d-flex align-items-center small"><i class="icofont-wall-clock"></i>
        {{ post.date_featured|date:"DATE_FORMAT"}}
    </li>
    {% endif %}
</ul>
