{% load djangocms_blog i18n easy_thumbnails_tags cms_tags comments comments_xtd%}

<style>

  
 .entry-meta {
  margin-bottom: 15px;
  color: #afa29e;
}

.entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.entry-meta ul li + li {
  padding-left: 5px;
}

 .entry-meta i {
  font-size: 14px;
  padding-right: 4px;
}

.entry-meta a {
  color: #988782;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.entry-meta li :hover{
  color: #007bff;
  
}



</style>


<div class="col-md-12 col-sm-12 col-xs-12">

  <div class="single-blog">

    <!-- Imagen -->
    <div class="single-blog-img">
      <a href="blog-details.html" >

        {% if image and post.main_image %}

          <img src="{{ post.main_image.url }}"  alt="{{ post.main_image.default_alt_text }}" />
      
        {% else %}
            {% media_images post as previews %}

              {% for preview in previews %}<img src="{{ preview }}" />{% endfor %}
            
        {% endif %}
        
      </a>
    </div>

    
    
    <!-- Meta -->
    <div class="blog-meta row ml-0">

      <span class="comments-type mr-3">
        <i class="fa fa-comment"></i>
        {% get_comment_count for post as comment_count %}
        <a >{{ comment_count }} comments</a>
      </span>
      <span class="mr-3">
        {% block blog_meta_date %}
        {% include "Blog/includes/blog_meta_date.html" %}
        {% endblock %}
      </span>

      <span class="date-type">
        {% block blog_meta_author %}
        {% include "Blog/includes/blog_meta_author.html" %}
        {% endblock %}
      </span>

 
      
    </div>

  
    <!-- Titulo, Subtitulo y Abstract -->
    <div class="blog-text">

      <!-- Titulo -->
      <h4>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      </h4>

      <!-- Subtitulo-->
      {% if post.subtitle %}

          <p style="font-family: Tahoma, sans-serif;color:#473d3a;font-weight: 500;font-size: 17px;">{{ post.subtitle }}</p>
              
      {%endif %}

      <!--Abstract -->
      <p>
        {% if not TRUNCWORDS_COUNT %}

            {% render_model post "abstract" "" "" "safe" %}

        {% else %}

            {% render_model post "abstract" "" "" "truncatewords_html:TRUNCWORDS_COUNT|safe"  %}

        {% endif %}
      </p>


    </div>

    <!-- Categorias
    
<div>

  <span class="entry-meta">
    {% block blog_meta_categories %}
    {% include "Blog/includes/blog_meta_categories.html" %}
    {% endblock %}
  </span>

  
</div>
-->
    
    <span>
      <a href="{{ post.get_absolute_url }}" class="ready-btn">{% trans "read more" %}</a>
    </span>

  
  </div>

</div>
