{% extends "django_comments_xtd/base.html" %}
{% load i18n static %}
{% load comments_xtd %}

{% block title %}{% trans "Flag comment" %}{% endblock %}

{% block header %}
<a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
{% endblock %}

{% block content %}


<div class="limiter">
  <div class="container-login100">
      <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">


            
              <!--Titulo-->
              <span class="login100-form-title p-b-32 text-center" style="font-size: 20px;">
                {% trans "Flag this comment?" %}
              </span>

             
              <p class="lead text-center mb-4">{% trans "Click on the flag button to mark the following comment as inappropriate." %}</p>

              <div class="row">
                <div class="offset-lg-1 col-lg-10">
                  <div class="card mb-4">
                    <div class="card-body">
                      <div class="media pb-2">
                        <img src="{% static 'Asiel/assets/img/blog/b02.jpg' %}"
                            width="48" height="48" class="mr-3">
                        <div class="media-body">
                          <h6 class="mb-1 small">
                            {{ comment.submit_date|date:"N j, Y, P" }}&nbsp;-&nbsp;
                            {% if comment.user_url %}
                            <a href="{{ comment.user_url }}" target="_new">{% endif %}
                              {{ comment.user_name }}
                              {% if comment.user_url %}
                            </a>{% endif %}
                          </h6>
                          <p>{{ comment.comment }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% with object_absolute_url=comment.content_object.get_absolute_url %}
                  {% if object_absolute_url %}
                  <p class="text-center">
                    {% trans "Posted to "%}&nbsp;<a href="{{ object_absolute_url }}">{{ comment.content_object }}</a>
                  </p>
                  {% endif %}
                  {% endwith %}
                  <div class="visible-lg-block visible-md-block">
                    <hr/>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="offset-md-1 col-md-10">
                  <form action="." method="post">{% csrf_token %}
                    <input type="hidden" name="next" value="{{ comment.get_absolute_url }}"/>
                    <div class="form-group">
                      <div class="text-center">
                        <input type="submit" name="submit" class="btn btn-danger" value="{% trans "Flag" %}"/>
                        <a class="btn btn-secondary" href="{{ comment.get_absolute_url }}">{% trans "cancel" %}</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
             
    


      </div>
  </div>
</div>



{% endblock %}
