{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

            <form method="post" action="" class="login100-form validate-form flex-sb flex-w">
                {%csrf_token%}

                <!--Titulo-->
                <span class="login100-form-title p-b-32">
                    {% trans 'Reset password' %}
                </span>

                <!--Email:-->
                <span class="txt1 p-b-11">
                    {% blocktrans %}
                        Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
                    {% endblocktrans %}
                </span>
                <div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
                    
                    <input type="text" name="email" autofocus="" autocapitalize="none" autocomplete="off" maxlength="150" class="input100" required="" id="id_username">
                    <span class="focus-input100"></span>
                </div>

              
         

                <div class="container-login100-form-btn">
                    <input type="submit" class="login100-form-btn" value="{% trans 'Reset password' %}" />
                </div>

                <div class="form-row mt-5">
                    {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class=" contenedor alert_error alert_error-danger">
                            <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="contenedor alert_error alert_error-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            </form>


        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>
{% endblock %}


{# This is used by django.contrib.auth #}
