{% extends "djangocms_blog/base.html" %}
{% load i18n easy_thumbnails_tags cms_tags comments comments_xtd%}

{% block canonical_url %}<link rel="canonical" href="{{ meta.url }}"/>{% endblock canonical_url %}
{% block title %}{{ post.get_title }}{% endblock %}

{% block content_blog %}{% spaceless %}
<article id="post-{{ post.slug }}" class="post-item post-detail">
    <header>
        <h2>{% render_model post "title" %}</h2>
        {% if post.subtitle %}
            <h3>{% render_model post "subtitle" %}</h3>
        {% endif %}
        {% block blog_meta %}
            {% include "djangocms_blog/includes/blog_meta.html" %}
        {% endblock %}
    </header>
    {% if not post.main_image_id %}
        <div class="blog-visual">{% render_placeholder post.media %}</div>
    {% else %}
    <div class="blog-visual">
        {% thumbnail post.main_image post.full_image_options.size crop=post.full_image_options.crop upscale=post.full_image_options.upscale subject_location=post.main_image.subject_location  as thumb %}
        <img src="{{ thumb.url }}" alt="{{ post.main_image.default_alt_text }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
    </div>
    {% endif %}
    {% endspaceless %}
    {% if post.app_config.use_placeholder %}
        <div class="blog-content">{% render_placeholder post.content %}</div>
    {% else %}
        <div class="blog-content">{% render_model post "post_text" "post_text" "" "safe" %}</div>
    {% endif %}
    {% if view.liveblog_enabled %}
        {% include "liveblog/includes/post_detail.html" %}
    {% endif %}
    {% if post.related.exists %}
        <section class="post-detail-list">
        {% for related in post.related.all %}
            {% include "djangocms_blog/includes/blog_item.html" with post=related image="true" TRUNCWORDS_COUNT=TRUNCWORDS_COUNT %}
        {% endfor %}
        </section>
    {% endif %}


    <!------------------------------------------ Seccion de Comentarios  -------------------------------------------------------->
    
    {% if post.enable_comments %}

    <div class="blog-comments">

      <!-- Cantidad de comentarios -->
      {% get_comment_count for post as comment_count %}
      <div class="py-4 text-center">
        &nbsp;&sdot;&nbsp;
        {{ comment_count }} comment{{ comment_count|pluralize }}
        ha{{ comment_count|pluralize:"s,ve" }} been posted.
      </div>
     <!-- END Cantidad de comentarios -->


     <!-- Listado de Comentarios -->
      <ul class="media-list">
        {% render_xtdcomment_tree for post allow_feedback  allow_flagging show_feedback  %}
      </ul>
    <!-- END Listado de comentarios -->
    

    <!-- Formulario de comentarios -->
      <div id="reply-form" class="reply-form">
        <h4>Dejar Comentario</h4>
        <p>Your email address will not be published. Required fields are marked * </p>

        {% get_comment_form for post as form %}
        <form action="{% comment_form_target %}" method="post">
          {% csrf_token %}

          {{form.content_type}}
          {{form.object_pk}}
          {{form.timestamp}}
          {{form.security_hash}}
          {{form.reply_to}}
          <input type="url" hidden name="url" id="id_url">

          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" maxlength="50" class="form-control" placeholder="Your Name*" required="" id="id_name">
            </div>
            <div class="col-md-6 form-group">
              <input type="email" name="email" class="form-control" placeholder="Your Email*" required="" id="id_email">
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <textarea name="comment" class="form-control" placeholder="Your Comment*" maxlength="3000" required="" id="id_comment"></textarea>
            </div>
          </div>

          <p style="display:none;">
            <label for="id_honeypot">Si introduce algo en este campo su comentario será tratado como spam:</label> <input type="text" name="honeypot" id="id_honeypot">
          </p>

          <input type="hidden" name="next" value="{% url 'comments-xtd-sent' %}" /> 
        

          <div class="custom-control custom-checkbox mb-5">
            <input type="checkbox" name="followup" id="id_followup" class="custom-control-input">
            <label for="id_followup" class="custom-control-label">&nbsp;Notifíqueme subsiguientes comentarios</label>
          </div>

          <p class="submit">
            <input type="submit" class="btn btn-primary" name="post" class="submit-post" value="Enviar">
          </p>

          <div class="alert alert-danger" data-comment-element="errors" hidden="">
          </div>
        </form>

        
      </div>
    <!-- END Formulario de comentarios -->


    </div><!-- End blog comments -->
    
    {% endif %}

</article>
{% endblock content_blog %}


{% block extra-js %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  crossorigin="anonymous"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script>
  $(function() {
    $('[data-toggle="tooltip"]').tooltip({html: true});
  });
</script>
{% endblock %}