{% extends "djangocms_blog/base.html" %}
{% load i18n easy_thumbnails_tags menu_tags cms_tags sekizai_tags static %}{% spaceless %}

{% block canonical_url %}<link rel="canonical" href="{{ view.get_view_url }}"/>{% endblock canonical_url %}


{% block content_blog %}
 

<section  class="blog-list blog-page area-padding">
   
    
    
    <div class="container">

        <div class="row">
            
            <!-- Barra Lateral -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="page-head-blog">

                  <!-- Articulos Recientes  -->
                  <div class="single-blog-page">
                    <!-- recent start -->
                    <div class="left-blog">
                      
                      <h4>recent post</h4>
                      
                      {% static_placeholder "Ultimos Articulos" %}

                    </div>
                    <!-- recent end -->
                  </div>
                  
                  <!-- Categorias   -->
                  <div class="single-blog-page">
                    <div class="left-blog">

                      {% static_placeholder "Categorias" %}
               
                    </div>
                  </div>

                  <!-- Tags -->
                  <div class="single-blog-page">
                    <div class="left-tags blog-tags">
                      <div class="popular-tag left-side-tags left-blog">
                        {% static_placeholder "Tags" %}
                      </div>
                    </div>
                  </div>

                </div>


            </div>
            
              <!-- Listado de Articulos -->
            <div class="col-md-8 col-sm-8 col-xs-12">
            
              {% if author or archive_date or tagged_entries or category %}
              {% block blog_title %}
              <div class="section-title mb-5">
                  <h3 class="text-center">
                  {% if author %}{% trans "Articles by" %} {% if author.get_full_name %}{{ author.get_full_name }}{% else%}{{ author.get_username }}{%endif%}
                  {% elif archive_date %}{% trans "Archive" %}: {% if month %}{{ archive_date|date:'F' }} {% endif %}{{ year }}
                  {% elif tagged_entries %}{% trans "Tag" %}: {{ tagged_entries|capfirst }}
                  {% elif category %}{% trans "Category" %}: {{ category }}{% endif %}
                  </h3>
              </div>
              {% endblock %}
              {%endif%} 
              <!-- Articulos -->
                <div class="row">

        
                    {% for post in post_list %}
                    
                    {% include "Blog/includes/blog_item.html" with post=post image="true" TRUNCWORDS_COUNT=TRUNCWORDS_COUNT %}
                    
                    {% empty %}
                    
                    
                    <h5 class="text-center">{% trans "No article found." %}</h5>
              
                    {% endfor %}
                    
                
  
                
                </div>

                <!-- Boton de Regresar -->
                {% if author or archive_date or tagged_entries or category %}
                <a class="btn btn-info rounded-pill" href="{% url 'djangocms_blog:posts-latest' %}" style="float: right;"><i class="icofont-long-arrow-left"></i>{% trans "Back" %}</a> 
                {% endif %}


                <!-- Paginado -->
                <div class="row justify-content-center" >

                    <div class="blog-pagination " data-aos="fade-up">

                    
                        {% if is_paginated %}
                
                            <div class="row justify-content-center">
                                <ul >
                                
                                    {% if page_obj.has_previous %}
                                    <li><a href="?{{ view.page_kwarg }}={{ page_obj.previous_page_number }}"><i class="icofont-rounded-left"></i></a></li>
                                    {% else %}
                                    <li class="disabled"><i class="icofont-rounded-left"></i></li>
                                    {% endif %}
                    
                                
                                    <li class="active"><a>{{ page_obj.number }}</a></li>
                                    
                                    
                                    
                                    {% if page_obj.has_next %}
                                    <li><a href="?{{ view.page_kwarg }}={{ page_obj.next_page_number }}"><i class="icofont-rounded-right"></i></a></li>
                                    {% else %}
                                    <li class="disabled"><i class="icofont-rounded-right"></i></li>
                                    {% endif %}
                                </ul>
                            </div>
                    
                            <div class="row justify-content-center">
                                {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}
                            </div>
                        
                        {% endif %}

                    </div>

                </div>
          
        
            </div>

        </div>

    </div>


    
</section>

{% endblock %}

{% endspaceless %}
