{% load cms_tags menu_tags sekizai_tags static%}
<!doctype html>
<html>

    <head>
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">


         <!-- Bootstrap CSS Files -->
         <link href="{% static 'Asiel/bootstrap-4/css/bootstrap.min.css' %}" rel="stylesheet">

        
         <!-- Favicons -->
         <link href="{% static 'Asiel/assets/img/favicon.png' %}" rel="icon">
         <link href="{% static 'Asiel/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
   
         <!-- Google Fonts -->
         <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
   

        <!-- Vendor CSS Files -->
        <link href="{% static 'Asiel/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'Asiel/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
        <link href="{% static 'Asiel/assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'Asiel/assets/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'Asiel/assets/vendor/nivo-slider/css/nivo-slider.css' %}" rel="stylesheet">
        <link href="{% static 'Asiel/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'Asiel/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
         
         <!-- Font Awesome css -->
         <link href="{% static 'Asiel/fontawesome-free-5.15.2-web/css/all.css' %}" rel="stylesheet">
         
         <!-- Template Main CSS File -->
         <link href="{% static 'Asiel/assets/css/style.css' %}" rel="stylesheet">

         


       <style>
       
        .cms-toolbar-expanded body, .cms-toolbar-expanded .fixed-top{
            top:46px;
        }



        .selected a{
            color: #3EC1D5 !important;
        }

    
        #CookielawBanner {
            background: rgb(209, 203, 203);
            bottom: 0;
            height: 140px;
            padding: 13px 0 4px;
            position: fixed;
            width: 100%;
            z-index: 5000;
        }


        .header-social-links {
        padding-left: 14px;
        margin-left: 20px;
        border-left: 1px solid #c4c4c4;
        }

        .header-social-links a {
        color: #a0a0a0;
        padding-left: 6px;
        display: inline-block;
        line-height: 1px;
        transition: 0.3s;
        }

        .header-social-links a:hover {
        color: #3EC1D5 !important;
        }

        @media (max-width: 768px) {
        .header-social-links {
            padding: 0 48px 0 0;
            border-left: 0;
        }
        }
       </style>

        {% render_block "css" %}

    </head>
    
    
    <body data-spy="scroll" data-target="#navbar-example">
      
   
    {% cms_toolbar %}
     

              <!-- ======= Header ======= -->
              <header id="header" class="fixed-top">
                <div class="container d-flex">
    
                <div class="logo mr-auto">
                    <h1 class="text-light"><a><span>S</span>human</a></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
                   
                </div>
    
                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                      
                        {% show_menu 0 100 100 100 %}
                    
                    </ul>
                </nav><!-- .nav-menu -->


                {% if user.is_authenticated %}
                <div class="ml-2 mt-2">
                    <a style="color: white;"><i class="fa fa-user"></i> <span class="ml-1" style="font-weight: bold;">{{user.username}}</span></a>
                </div>
                {% endif %}
                
                    <div class="header-social-links mt-2">
                        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
                    </div>
                </div>
            </header><!-- End Header -->
        

        <!-- ======= Header Blog y Home ======= -->
        {% block hero %}{% placeholder 'BreadCrumb' %}{% endblock hero %}
        <!-- End Header -->

  
        
   
        
        {% load cookielaw_tags %}
        {% cookielaw_banner %}
    

       


        
        {% block content %}  
            
         
        {% endblock content %}



 

        {% static_placeholder 'footer' %}
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <div id="preloader"></div>


        <!--Jquery -->
        <script src="{% static 'Asiel/jquery/jquery-3.5.1.min.js' %}"></script>
     
        <!-- Bootstrap JS Files -->
        <script src="{% static 'Asiel/bootstrap-4/js/bootstrap.bundle.min.js' %}"></script>


        <!-- Cookies -->
        <script src="{% static 'Asiel/cookielaw/js/cookielaw.js' %}"></script>


        <!-- Vendor JS Files -->
        <script src="{% static 'Asiel/assets/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'Asiel/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'Asiel/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
        <script src="{% static 'Asiel/assets/vendor/appear/jquery.appear.js' %}"></script>
        <script src="{% static 'Asiel/assets/vendor/knob/jquery.knob.js' %}"></script>
        <script src="{% static 'Asiel/assets/vendor/parallax/parallax.js' %}"></script>
        <script src="{% static 'Asiel/assets/vendor/wow/wow.min.js' %}"></script>
        <script src="{% static 'Asiel/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'Asiel/assets/vendor/nivo-slider/js/jquery.nivo.slider.js' %}"></script>
        <script src="{% static 'Asiel/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'Asiel/assets/vendor/venobox/venobox.min.js' %}"></script>
        
        <!-- Font Awesome js -->
        <link href="{% static 'Asiel/fontawesome-free-5.15.2-web/js/all.js' %}" rel="stylesheet">


        <!-- Template Main JS File -->
        <script src="{% static 'Asiel/assets/js/main.js' %}"></script>

        {%block js%}
        {% endblock js %}
        
        {% render_block "js" %}
        

    </body>
</html>
